.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #fffbf3; /* Main background color */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #eb89b5; /* Title text color */
}

.form {
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ffd7e9; /* Input field border color */
  background-color: #fff8d2; /* Input field background color */
}

.input {
  width: calc(100% - 10px);
  margin-left: 10px;
  border: none;
  background: none;
}

.submitBtn {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #eb89b5; /* Submit button background color */
  color: #fff8d2; /* Submit button text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #ffd7e9; /* Hover state color */
}
