.header {
  background-color: #ae167a; /* Darker background color */
  color: #fff6f6; /* Text color */
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px 0;
  animation: fadeIn 0.8s ease; /* Fade-in animation */
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px; /* Adjusted margin for spacing */
}

.headerContainer.listMode {
  margin: 20px 0 0; /* Adjusted margin for spacing */
}

.headerDesc {
  margin: 20px 0;
}

.headerBtn {
  background-color: #0071c2; /* Button background color */
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 50px; /* Increased height for better visibility */
  background-color: #fff6f6; /* Search bar background color */
  border: 3px solid #febb02; /* Border color */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
  position: relative; /* Adjusted position */
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerSearchInput {
  border: none;
  outline: none;
  flex-grow: 1; /* Allow input to grow */
}

.headerIcon {
  color: #aedefc; /* Icon color */
}

.headerSearchText {
  color: #aedefc; /* Search text color */
  cursor: pointer;
}

.date {
  position: absolute;
  top: calc(100% + 10px); /* Adjusted position */
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: calc(100% + 10px); /* Adjusted position */
  background-color: #fff6f6; /* Options background color */
  color: #333; /* Options text color */
  border-radius: 5px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
