.header {
  background-color: #002447; /* Darker background color */
  color: #fff6f6; /* Text color */
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px 0; /* Adjusted padding */
  border-bottom: 3px solid #f875aa; /* Border added for separation */
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; /* Center align the content */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-size: 28px;
  margin-bottom: 10px;
}

.headerDesc {
  text-align: center;
  margin-bottom: 20px;
}

.headerBtn {
  background-color: #0071c2;
  color: #fff6f6;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.headerBtn:hover {
  background-color: #004080; /* Darker button color on hover */
}

/* Animation */
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to specific elements */
.mail,
.headerTitle,
.headerDesc,
.headerBtn {
  animation: slideInFromTop 0.6s ease; /* Apply animation */
}
