.header {
  background-color: #002447;
  color: #fff6f6;
  padding: 20px 0;
  border-bottom: 3px solid #f875aa;
  text-align: center; /* Align text at the center */
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-size: 28px;
  margin-bottom: 10px;
  animation: slideInFromTop 0.6s ease; /* Apply animation */
}

.headerDesc {
  margin-bottom: 20px;
  animation: slideInFromTop 0.6s ease; /* Apply animation */
}

.headerBtn {
  background-color: #0071c2;
  color: #fff6f6;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: slideInFromTop 0.6s ease; /* Apply animation */
}

.headerBtn:hover {
  background-color: #004080;
}

/* Animation */
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
