.navbar {
  height: 50px;
  background-color: #eb89b5; /* Background color */
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #fff8d2; /* Text color */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  color: #fff8d2; /* Text color */
  transition: color 0.3s ease;
}

.logo:hover {
  cursor: pointer;
  color: #fffbf3; /* Color on hover */
}

.navItems {
  display: flex;
  align-items: center;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #eb89b5; /* Button text color */
  background-color: transparent;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navButton:hover {
  color: #fffbf3; /* Text color on hover */
  background-color: #ffd7e9; /* Background color on hover */
  border-radius: 5px; /* Rounded corners on hover */
}
