.footer {
  width: 100%;
  max-width: 1024px; /* Corrected property name */
  font-size: 12px;
  margin: 0 auto; /* Center align the content */
  padding: 20px; /* Added padding for spacing */
  color: #003580; /* Text color */
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow lists to wrap to the next line if needed */
}

.fList {
  list-style: none;
  padding: 0;
  margin-right: 30px; /* Adjusted margin for list spacing */
}

.fListItem {
  margin-bottom: 10px;
  cursor: pointer;
  color: #003580; /* Text color */
  transition: color 0.3s ease; /* Smooth color transition */
}

.fListItem:hover {
  color: #f875aa; /* Color on hover */
}
